@use "../../../assets/scss/fonts";
@use "../../../assets/scss/mixins";
@use "../../../assets/scss/globals.scss";
.intro{
    min-height: 100vh;
    background-color: var(--bg-page);
    padding: 60px 43px;
    display: flex;
    align-items: center;
    user-select: none;
}
.intro-wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 32px;
}
// 왼쪽 카드
.intro-left{
    width: 300px;
    flex-shrink: 0;
    background-color: var(--bg-section);
    border: 5px solid var(--accent-primary);
    border-radius: 50px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #000;
    object-fit: cover;
    margin-bottom: 25px;
    margin-top: 0;
}
.name{
    margin-bottom: 4px;
    font-size: 24px;
    font-family: "Paperlogy", sans-serif; 
    font-weight: 700;
    text-align: center;
}
.role{
    color: #222;
    font-size: 16px;
    font-family: "Paperlogy", sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
    padding: 8px;
}

.contact{
    width: 100%;
}
.contact-title{
    display: flex;
    align-items: center;
    font-family: "Paperlogy", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #866046;
    margin-bottom: 20px;
    &::after{
        content: "";
        flex: 1;
        height: 1px;
        background: #d9b69b;
        margin-left: 10px;
    }
}
.contact-list{
    font-family: "Paperlogy", sans-serif;
    font-weight: 600;
    li{
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        .icon{
            display: flex;
            align-items: center;
            gap: 5px;
            svg{
                font-size: 25px;
                color: #333;
                flex-shrink: 0;
            }
        }
        a.text{
            font-size: 14px;
            white-space: nowrap;
            display: block;
            flex: 1;
            &:hover{
                color: #777;
                text-decoration: underline;
            }
        }
    }
}
}
// 오른쪽 카드(메인)
.intro-right{
    flex: 1;
    background-color: var(--bg-section);
    border: 5px solid var(--accent-primary);
    border-radius: 50px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .intro-top-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
}
//헤더 영역
.intro-header {
    .title{
    font-size: 85px;
    font-family: "SuperMellow";
    color: var(--text-title);
    margin-bottom: 15px;
    letter-spacing: 2px;
    }
    .desc{
        font-size: 28px;
        font-weight: 600;
        font-family: "Paperlogy";
        line-height: 1.4;
        color: #7A7A7A;
    }
}

// 키워드 프로필
.intro-keywords {
    position: relative;
    width: 350px; 
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #000;
        object-fit: cover;
        z-index: 2;
    }
    .keyword {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #ffb38a;
        color: #fff;
        padding: 8px 18px;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 600;
        white-space: nowrap;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        z-index: 3;
    }
    // 차분함
    .k1 { transform: translate(-180%, -210%); } 
    // 집중
    .k2 { transform: translate(100%, -210%); }
    // 디테일
    .k3 { transform: translate(140%, -20%); }
    // 진정성
    .k4 { transform: translate(70%, 170%); }
    // 부드러움
    .k5 { transform: translate(-170%, 170%); }
    // 안정감
    .k6 { transform: translate(-240%, -20%); }
}

//스킬
.intro-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-family: "Paperlogy";
}
.skill-card {
    background-color: #fff6ee;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #eee;
}
.skill-title {
    background-color: #f3d8c3;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}
.skill-card ul {
    padding: 20px;
    li{
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        img{
            width: 24px;
            height: 24px;
        }
    }
}