@use "../../../assets/scss/fonts";
@use "../../../assets/scss/mixins";
@use "../../../assets/scss/globals.scss";
.intro{
    background-color: var(--bg-page);
    padding: 24px 43px;
    user-select: none;
}
.intro-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
}
// 왼쪽 카드
.intro-left{
    flex-shrink: 0;
}
.intro-profile{
    width: 100%;
    height: 100%;
    gap: 16px;
    background-color: var(--bg-section);
    border-radius: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--accent-primary);
    overflow: hidden;
}
.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #000;
    object-fit: cover;
    margin-bottom: 12px;
}
.name{
    color: #222;
    font-size: 25px;
    font-family: "Paperlogy", sans-serif; 
    font-weight: 700;
    margin-bottom: 4px;
}
.role{
    color: #222;
    font-size: 20px;
    font-family: "Paperlogy", sans-serif;
    font-weight: 600;
    margin-top: 4px;
}

.contact{
    width: 100%;
    font-family: "Paperlogy", sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 14px;
}
.contact-title{
    padding: 6px;
    font-size: 20px;
    font-weight: 600;
    color: #866046;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--accent-soft);
    text-align: center;
}
>ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    li{
        display: flex;
        align-items: center;
        .icon{
            display: flex;
            align-items: center;
            gap: 8px;
            .text{
                font-family: "Paperlogy", sans-serif;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.2px;
            }
        }
    }
}

// 오른쪽 카드
.intro-right{
    position: relative;
    flex: 1;
    background-color: var(--bg-section);
    border: 5px solid var(--accent-primary);
    border-radius: 50px;
    padding: 56px 56px 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    // overflow: hidden;
}
//헤더 영역
.intro-header {
    .title{
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: "SuperMellow";
    color: var(--text-title);
    }
    .desc{
        font-size: 35px;
        font-weight: 600;
        font-family: "Paperlogy";
        line-height: 1.6;
        color: #7A7A7A;
    }
}

//키워드 프로필
.intro-keywords{
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    .intro-avatar{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid #000;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateX(30px);
        z-index: 2;
    }
    .keyword{
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        background-color: #ffb38a;
        color: #fff;
        padding: 6px 14px;
        border-radius: 999px;
        font-size: 13px;
        white-space: nowrap;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
        z-index: 1;
        transition: transform 0.25s ease, box-shadow 0.25s ease;
        cursor: pointer;
    }
    .k1{ transform: rotate(270deg) translate(125px) rotate(-270deg);}
    .k2{ transform: rotate(330deg) translate(125px) rotate(-330deg);}
    .k3{ transform: rotate(30deg) translate(125px) rotate(-30deg);}
    .k4{ transform: rotate(90deg) translate(125px) rotate(-90deg);}
    .k5{ transform: rotate(150deg) translate(125px) rotate(-150deg);}
    .k6{ transform: rotate(210deg) translate(125px) rotate(-210deg);}
}

//스킬
.intro--skills {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-family: "Paperlogy";
}
.skill-card {
    width: 300px;
    background-color: #fff6ee;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}
.skill-title {
    background-color: #f3d8c3;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
}
.skill-card ul {
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.skill-card li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Paperlogy";
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.skill-card img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
