@use "../../assets/scss/mixins" as *;


.stay{
    background-color: var(--bg-page);
    padding: 120px 0 160px;
    user-select: none;
    .stay-intro-view{
        max-width: 1200px;
        margin: 0 auto 100px;
        padding: 0 20px;
    }
}
.stay-hero{
    max-width: 1200px;
    margin: 0 auto 140px;
    margin-bottom: 60px;
    padding: 0 20px;
    .stay-tags{
        font-family: "Paperlogy";
        font-size: 16px;
        font-weight: 600;
        color: var(--accent-soft);
        margin-bottom: 20px;
        letter-spacing: 0.02em;
        span{ margin-right: 15px; }
    }
    .stay-desc{
        font-family: "Paperlogy";
        font-size: 24px;
        font-weight: 700;
        line-height: 1.7;
        color: #222;
        max-width: 820px;
    }
}

.stay-main{
    max-width: 1200px;
    margin: 0 auto 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 100px;
    margin-bottom: 140px;
    align-items: start;
}
.stay-overview{
    .stay-link {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        background-color: transparent !important;
    }
    .stay-title{
        font-family: "Azeret Mono";
        font-size: 130px;
        font-weight: 900;
        color: #423665;
        line-height: 1;
        margin-bottom: 30px;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
            background-color: transparent;
        }
    }
    .stay-subtitle{
        font-family: "Paperlogy";
        font-weight: 700;
        font-size: 20px;
        line-height: 1.6;
        color: var(--accent-soft);
    }
}
.stay-visual{
    width: 100%;
    height: 400px;
    border-radius: 50px;
    border: 5px solid var(--accent-primary);
    overflow: hidden;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
    &:hover{
        transform: translateY(-5px);
        img{
            filter: brightness(0.9);
        }
    }
    a{
        display: block;
        width: 100%;
        height: 100%;
    }
}
.stay-info{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    font-family: "Paperlogy";
    color: var(--accent-soft);
    .info-list{
        li{
            font-size: 17px;
            font-weight: 700;
            line-height: 1.6;
            margin-bottom: 15px;
            span{ display: block; margin-bottom: 5px;}
        }
    }
    .point-list{
        padding-left: 20px;
        li{
            font-size: 15px;
            font-weight: 600;
            color: var(--accent-soft);
            line-height: 1.5;
            margin-bottom: 4px;
        }
    }
    .stay-links{
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        a{
            font-family: "Paperlogy";
            font-size: 14px;
            font-weight: 600;
            color: #888;
            text-decoration: underline;
            &:hover { color: var(--accent-primary);}
        }
    }
}

// 상세 페이지 섹션
.stay-section{
    max-width: 1200px;
    margin: 140px auto;
    padding: 60px;;
}
.section-title{
    color: #423665;
    font-family: "Azeret Mono";
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 40px;
}
.stay-block{
    margin-bottom: 60px;
    h3{
        font-family: "Paperlogy";
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}
hr{
    margin: 20px;
    width: 1000px;
    height: 5px;
    background-color: #D7D5D5;
    border: none;
}
// logo
.logo-area{
    display: flex;
    align-items: center;
    gap: 40px;
    .logo-images{
        display: flex;
        align-items: center;
        gap: 12px;
        img{
            width: 100%;
        }
    }
    .logo-desc{
        font-family: "Paperlogy";
        line-height: 1.7;
        font-size: 20px;
        font-weight: 400;
    }
}
//color
.color-area{
    padding: 15px;
    display: flex;
    gap: 40px;
    .color-group{
        display: flex;
        flex-direction: column;
        font-family: "Paperlogy";
        font-weight: 600;
        gap: 15px;
    }
    .color-item{
        display: flex;
        align-items: center;
        gap: 12px;
        .color-box{
            width: 70px;
            height: 40px;
            border-radius: 30px;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            .hover-hex{
                opacity: 0;
                transition: opacity 0.3s ease;
                font-size: 12px;
                color: #fff;
                font-weight: bold;
                background: rgba(0, 0, 0, 0.4);
                padding: 2px 4px;
                border-radius: 4px;
                pointer-events: none;
            }
            &:hover .hover-hex{
                opacity: 1;
            }
        }
        .color-name{
            font-size: 14px;
            color: #222;
        }
    }
}

//UX Startegy
.ux-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    font-family: "Paperlogy";
    li{
        list-style: disc;
        font-weight: 600;
        margin-bottom: 6px;
        padding: 10px;
    }
    p{
        margin: 0;
        line-height: 1.6;
    }
}

// User Context
.user-area{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    font-family: "Paperlogy";
    .user-item{
        display: flex;
        align-items: center;
        gap: 30px;
        .user-image{
            flex: 1;
            img { 
                width: 100%; 
                border-radius: 15px;
                border: 5px solid var(--accent-primary);
            }
        }
        .user-text{
            flex: 1;
            .badge{
                display: inline-block;
                padding: 4px 12px;
                border-radius: 20px;
                color: #fff;
                font-weight: bold;
                margin-bottom: 15px;
                &.resident{ background-color: #423665;}
                &.store{ background-color: #FF7C1F;}
                &.admin{ background-color: #5BB299;}
            }
            ul{
                list-style: disc;
                padding-left: 20px;
                li{
                    margin-bottom: 8px;
                    line-height: 1.6;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }
}

//User Flow
.flow-area{
    img{
        width: 100%;
        border-radius: 15px;
        border: 5px solid var(--accent-primary);
    }
}

// My Role & Tech Stack
.role-stack-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 40px 0;
    .role-area, .stack-area{
        flex: 1;
        .sub-title{
            font-family: "Paperlogy";
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 25px;
        }
        ul{
            li{
                font-family: "Paperlogy";
                font-size: 18px;
                font-weight: 600;
                line-height: 1.8;
                list-style: disc;
            }
        }
    }
}

// Trouble Shooting
.trouble-area{
    .trouble-title{
        font-family: "Paperlogy";
        font-size: 20px;
        font-weight: 700;
        margin: 30px 0 20px;
    }
    .trouble-list{
        li{
            margin-bottom: 25px;
            list-style: none;
            strong{
                display: block;
                font-family: "Paperlogy";
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 5px;
            }
            p{
                font-family: "Paperlogy";
                font-size: 15px;
                font-weight: 500;
                line-height: 1.6;
                word-break: keep-all;
            }
        }
    }
}