.projects {
  padding: 80px 0;
  background: var(--bg-page);
  user-select: none;
}
.projects-header {
  text-align: center;
  margin-bottom: 40px;
}
.projects-title {
  font-family: "SuperMellow";
  font-size: 72px;
  margin-bottom: 16px;
  color: var(--text-title);
}
.projects-desc {
    font-family: "Paperlogy";
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.projects-filter {
  max-width: 1200px;
  margin: 0 auto 32px;
  padding-bottom: 12px;
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #aaa;
  font-family: "Paperlogy";
  font-weight: 600;

  li {
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 6px;

    &.active {
      border-bottom: 2px solid #000;
      font-weight: 600;
    }
  }
}
.project-list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.project-card {
  background: var(--bg-page);
  border: 2px solid var(--accent-primary);
  border-radius: 28px;
  padding: 28px;
  display: flex;
  flex-direction: column;
}

/* 썸네일 */
.project-thumb {
  height: 220px;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 16px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

/* 배지 */
.project-badge {
  align-self: flex-start;
  padding: 6px 14px;
  border-radius: 999px;
  background: var(--bg-card);
  font-size: 13px;
  margin-bottom: 12px;
  font-family: "Paperlogy";
  font-weight: 600;
}

/* 텍스트 */
.project-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}

.project-summary {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 12px;
  font-family: "Paperlogy";
  font-weight: 500;
}

.project-role {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 16px;
  font-family: "Paperlogy";
  font-weight: 600;

  strong {
    font-family: "Paperlogy";
    font-weight: 700;
  }
}

/* 버튼 */
.project-link {
  margin-top: auto;
  padding: 12px 0;
  border-radius: 14px;
  border: none;
  background: var(--bg-card);
  font-size: 14px;
  font-family: "Paperlogy";
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background: var(--accent-primary);
    color: #fff;
  }
}
